*
{text-align: center;}

body
{
	transition: 1s;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url("img/bg4.jpg"); 
}

label
{
	font-size: xx-large;
	margin: 10px 0;
}

#clock
{
	background: #fbaf3f;
	margin: 100px auto;
	border-radius: 55px;
	padding: 20px;
	width: 300px;
	text-align: center;
	display: inline-block;
}


[col*="col-"]
{
	float: left;
}
.col-1{width:100%;}
.col-3{width:32%;}
.col-4{width:23%;}

#time
{
	margin-top: 10px;
}

.screens
{
	float: left;
	margin: 0;
	padding: 0; 
	font-size: xx-large;
}

#hours
{
	border-radius: 20px 0 0 20px;
}

#minutes
{}

#seconds
{
}

#MM
{
		border-radius: 0 20px 20px 0;
}
